.Community {
 background-image: url("../images/Community/community-background-1.jpg");
 object-fit: cover;
 background-repeat: no-repeat;
 padding: 20px;
 border-bottom: 2px solid var(--light-blue);
}

.Community .community-wrap {
 max-width: 90vw;
 margin: auto;
}

.Community .community-grid {
 width: 100%;
 border: 3px double white;
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.8);
 display: grid;
 grid-template-columns: 1fr 1fr;
 padding: 1rem;
}

.Community :is(h2, .community-grid) {
 margin: 3rem auto;
}

.Community h4 {
 font-size: 1.2rem;
}

.Community .grid-item {
 height: 100%;
 margin: 1.5rem;
}

.Community .grid-item img {
 max-width: 50%;
 height: auto;
 margin-right: 10px;
 float: inline-start;
}

.Community .grid-item:is(.photo, .text) {
 width: 49%;
 float: left;
}

.Community .grid-item p {
 margin-bottom: 0.5rem;
 opacity: 0.8;
}

.Community .grid-item p:last-of-type span {
 float: right;
}

@media only screen and (max-width: 65em) {
 .Community h2 {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 2rem;
 }

 .Community h4 {
  font-size: 1.4rem;
 }

 .Community p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
 }

 .Community .community-grid {
  grid-template-columns: 1fr;
 }

 .Community .grid-item {
  margin: 2rem 1rem;
 }

 .Community .grid-item img {
  margin: 0 1rem 0 0;
 }
}

@media only screen and (max-width: 45em) {
 .Community :is(.photo, .text, img) {
  float: none;
 }

 .Community .community-grid {
  display: block;
 }

 .Community .grid-item img {
  max-width: 100%;
  margin: 0 0 1rem 0;
 }
}
