.Community {
 background-color: #2b1f92;
 padding: 20px;
}

.Community .community-wrap {
 max-width: 90vw;
 margin: auto;
}

.Community .community-grid {
 width: 100%;
 height: 70vh;
 border: 3px double var(--light-blue);
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.6);
 display: grid;
 grid-auto-flow: column;
}

.Community :is(h2, .community-grid) {
 margin: 3rem auto;
}

.Community .grid-item {
 display: flex;
 flex-wrap: wrap;
}

.Community .grid-item span {
 width: 45%;
}

.Community .grid-item p:last-of-type {
 display: flex;
 justify-content: space-between;
}
