.Header nav {
 background-image: url("../images/Header/tumblr-galaxy.png");
 padding: 0.8rem;
 color: whitesmoke;
 height: minmax(85px, fit-content);
}

.Header .hidden {
 display: none;
}

.Header .display {
 display: inline-block;
}

.Header button {
 margin: 0;
}

.Header i {
 font-size: 20px;
}

.Header .navbar-toggler {
 background-color: rgb(6, 120, 170);
}

.Header nav ul {
 list-style: none;
 font-size: 18px;
}

.Header nav li {
 margin: 0 10px;
 display: inline;
}

.Header nav li:hover {
 cursor: pointer;
 color: #7680dc;
}

.Header .navbar-brand {
 margin: 0;
 padding: 0;
 position: relative;
 bottom: 0.4rem;
}

.Header .navbar-brand img {
 max-width: 80%;
 height: auto;
 position: relative;
 top: 0;
}

.Header .collapse {
 justify-content: space-between;
 text-align: center;
}

.Header .collapse ul:last-of-type li {
 display: inline;
}

.Header .nav-top {
 background: linear-gradient(
  90deg,
  rgb(6, 120, 170) 0%,
  rgb(165, 214, 255) 100%
 );
 padding: 1.3px;
}

.Header .nav-bottom {
 background: linear-gradient(
  90deg,
  rgb(165, 214, 255) 0%,
  rgb(6, 120, 170) 100%
 );
 padding: 1.3px;
}

@media (max-width: 900px) {
 .Header {
  text-align: center;
 }

 .Header .display {
  display: none;
 }

 .Header .hidden {
  display: inline-block;
 }

 .Header .navbar-brand {
  position: static;
 }

 .Header ul {
  margin: 1rem 0;
 }

 .Header ul:last-of-type {
  display: block;
 }

 .Header ul:last-of-type li {
  width: min-content;
 }
}
