.Featured {
 background-image: url("../images/Featured/featured-background.jpg");
 object-fit: cover;
 width: 100%;
 padding: 20px;
 border-bottom: 2px solid var(--light-blue);
}

.Featured .featured-wrap {
 max-width: 80vw;
 margin: auto;
}

.Featured h2 {
 margin: 3rem 0;
}

.Featured h4 {
 color: whitesmoke;
 margin: 10px 0;
}

/* card styling starts here */

.Featured .card-short {
 border-radius: 0;
 color: whitesmoke;
 background-color: #181a1b;
 padding: 0;
 margin: 10px auto;
 width: 90%;
 aspect-ratio: 5 / 4;
 border: none;
}

.Featured .card-short img {
 height: auto;
 max-width: 100%;
}

.Featured .card-short .text {
 margin: 1rem;
}

.Featured .card-short .text p {
 opacity: 0.8;
}

.Featured .card-bottom p {
 display: flex;
 justify-content: space-between;
 padding-top: 20px;
}

/* long card styling */

.Featured .card-long {
 flex-wrap: wrap;
 flex-direction: row;
 margin: auto;
 width: 95%;
 padding: 0;
}

.Featured .card-long img {
 object-fit: cover;
 width: 100%;
 height: 100%;
}

.Featured .card-long .label {
 position: absolute;
 width: 30%;
}

.Featured .card-long .photo {
 width: 30%;
 margin-right: 1rem;
}

.Featured .card-long .text {
 width: 60%;
 margin: auto;
}

/* label styling starts here */

.Featured .label {
 color: white;
 position: relative;
 left: 0;
 bottom: 0;
 padding: 8px;
 font-size: 1.1rem;
 letter-spacing: 0.5px;
}

.Featured .sale {
 background-color: #143aab;
}

.Featured .update {
 background-color: #8e0039;
}

.Featured .community {
 background-color: #5f008f;
}

.Featured .maintenance {
 background-color: #a64200;
}
