.Featured {
 background-image: url("../images/Featured/featured-background.jpg");
 object-fit: cover;
 width: 100%;
 padding: 20px;
 border-bottom: 2px solid var(--light-blue);
}

.Featured .featured-wrap {
 max-width: 75vw;
 margin: auto;
}

.Featured h2 {
 margin: 3rem 0;
}

.Featured :is(.col-md-6, .col-md-12) {
 margin: 0;
 padding: 0;
}

/* default card styling */

.Featured .card {
 margin: 0 auto 1rem;
 color: whitesmoke;
 background-color: #181a1b;
}

.Featured .card h3 {
 color: whitesmoke;
 margin: 0.5rem 0;
}

.Featured .card :is(.readmore, .timestamp) {
 position: absolute;
 bottom: 2%;
}

.Featured .card .timestamp {
 left: 1rem;
}

.Featured .card .readmore {
 right: 1rem;
}

.Featured .card .card-bottom {
 padding-top: 1rem;
}

.Featured .card p {
 opacity: 0.8;
}

/* small card styling */

.Featured .card-sm {
 border-radius: 0;
 width: 90%;
 height: 95%;
 border: none;
}

.Featured .card-sm img {
 max-width: 100%;
 max-height: 50%;
 object-fit: cover;
}

.Featured .card-sm .text {
 margin: 0.5rem 1rem;
}

/* long card styling */

.Featured .card-lg {
 flex-wrap: wrap;
 flex-direction: row;
 aspect-ratio: 1 / 0.25;
 width: 95%;
 padding: 0;
}

.Featured .card-lg img {
 object-fit: cover;
 width: 100%;
 height: 100%;
}

.Featured .card-lg figcaption {
 position: absolute;
 width: 40%;
}

.Featured .card-lg figure {
 width: 40%;
}

.Featured .card-lg .text {
 width: 50%;
 margin: 1rem;
}

.Featured .card-lg .card-bottom {
 position: absolute;
 bottom: 0;
 width: 50%;
}

.Featured .card-lg .card-bottom p {
 display: flex;
 justify-content: space-between;
}

/* label styling */

.Featured figcaption {
 color: white;
 position: relative;
 left: 0;
 bottom: 0;
 padding: 8px;
 font-size: 1.1rem;
 letter-spacing: 0.5px;
}

.Featured .sale {
 background-color: #143aab;
}

.Featured .update {
 background-color: #8e0039;
}

.Featured .community {
 background-color: #5f008f;
}

.Featured .maintenance {
 background-color: #a64200;
}

/* responsive styling */

@media (max-width: 70em) {
 .Featured .featured-wrap {
  max-width: 80vw;
 }

 .Featured h4 {
  font-size: 1.3rem;
 }

 .Featured .card-lg .text {
  margin: 0 1rem 0.5rem;
 }

 .Featured .card-lg :is(.readmore, .timestamp) {
  position: relative;
 }

 .Featured .card-lg figure {
  margin-right: 0;
 }
}

@media (max-width: 50em) {
 .Featured .card-lg {
  border-radius: 0;
  width: 90%;
  height: 95%;
  aspect-ratio: 5 / 2;
 }

 .Featured .card-lg :is(figure, .text) {
  float: none;
  width: unset;
 }

 .Featured .card-lg figure {
  margin-right: 0;
 }

 .Featured .card-lg img {
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
 }

 .Featured .card-lg .text {
  margin: 0.5rem 1rem;
  position: relative;
  bottom: 28%;
  height: 55%;
 }

 .Featured .card-lg figcaption {
  position: relative;
  width: unset;
 }

 .Featured .card-lg .card-bottom {
  width: 100%;
 }

 .Featured .card-lg img {
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
 }

 .Featured .card-lg .card-bottom {
  width: 100%;
  left: 0;
 }
}

@media (max-width: 576px) {
 .Featured .featured-wrap {
  max-width: 95vw;
 }

 .Featured .card-lg {
  aspect-ratio: none;
 }
}
