.Featured {
 background-image: url("../images/Featured/featured-background.jpg");
 object-fit: cover;
 width: 100%;
 padding: 20px;
 border-bottom: 2px solid var(--light-blue);
}

.Featured .featured-wrap {
 max-width: 80vw;
 margin: auto;
}

.Featured button {
 margin: 3rem auto;
}

.Featured .card {
 border-radius: 0;
 color: #484846;
 padding: 0;
 margin: 10px auto;
 width: 90%;
 height: auto;
 border: none;
}

.Featured .card img {
 height: auto;
 max-width: 100%;
}

.Featured .card .text {
 margin: 1rem;
}

.Featured .card-bottom p {
 display: flex;
 justify-content: space-between;
 padding-top: 20px;
}

.Featured h2 {
 margin: 3rem 0;
}

.Featured h4 {
 color: #191919;
 margin: 10px 0;
}

.Featured .label {
 background-color: #b20047;
 display: block;
 color: white;
 position: relative;
 left: 0;
 bottom: 0;
 padding: 5px;
}
