:root {
 --light-blue: #7fb3f4;
 --primary-text: #dfeafe;
}

.App button {
 background-color: #4e08ff;
 color: var(--primary-text);
 border-radius: 20px;
 border: 3px inset var(--light-blue);
 padding: 5px 10px;
 transition: 200ms all ease-in-out;
 margin-right: 60px;
}

.App button:hover {
 background-color: #7332d1;
 border-style: outset;
 color: white;
 text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.4);
}
