:root {
 --light-blue: #7fb3f4;
 --primary-text: #dfeafe;
}

* {
 box-sizing: border-box;
}

.App :is(.Community, .Featured) {
 text-overflow: ellipsis;
}

/* button styling */

.App .button-wrap {
 display: flex;
 justify-items: center;
 flex-direction: column;
 margin: 2rem auto;
 width: 14em;
 height: 4em;
 overflow: hidden;
 padding: 1rem 0;
 transition: all linear 2s;
}

.App .button-wrap:hover .rest-img {
 display: none;
}

.App .button-wrap img {
 cursor: pointer;
 object-fit: contain;
 width: 100%;
}

.App .sr-only {
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border: 0;
}
