:root {
 --light-blue: #7fb3f4;
 --primary-text: #dfeafe;
}

* {
 box-sizing: border-box;
}

.App button {
 background: linear-gradient(rgb(255, 239, 239), rgb(189, 189, 189));
 color: rgb(20, 20, 20);
 border-radius: 20px;
 border: 3px inset #781eff;
 padding: 5px 15px;
 transition: 300ms all ease-in-out;
 margin: auto;
 display: block;
 font-weight: 600;
}

.App button:hover {
 background: #781eff;
 border: 3px outset #ac82ee;
 color: white;
 text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.4);
}

.App :is(.Community, .Featured) {
 text-overflow: ellipsis;
}
