.Featured {
 margin: 80px 100px;
 padding: 0 15px;
}

.Featured .card {
 background-color: darkgray;
 border-radius: 0;
 border-color: transparent;
 margin: 20px;
}

.Featured h2 {
 margin-bottom: 20px;
}
