:root {
 --light-blue: #7fb3f4;
 --primary-text: #dfeafe;
}

body {
 background-color: black;
 color: white;
 font-family: "Ubuntu", sans serif;
}

.disclaimer {
 background-color: #272b33;
 text-align: center;
 padding: 5px;
 max-height: 55px;
}

nav {
 background-image: url("../images/tumblr-galaxy.png");
 padding: 10px 20px;
 color: var(--primary-text);
 height: 83px;
}

button {
 background-color: #4e08ff;
 color: var(--primary-text);
 border-radius: 20px;
 border: 3px inset var(--light-blue);
 padding: 5px 10px;
 transition: 200ms all ease-in-out;
}

button:hover {
 background-color: #7332d1;
 border-style: outset;
 color: white;
 text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.4);
}

.navbar-toggler {
 background-color: var(--primary-text);
}

nav ul {
 list-style: none;
 margin: 0 20px;
 font-size: 18px;
}

nav li {
 margin: 50px 8px 0 8px;
 display: inline;
}

nav li:hover {
 cursor: pointer;
 color: #7680dc;
}

.navbar-brand {
 color: white;
 margin-left: 50px;
 font-size: 20px;
}

.nav-top {
 background: linear-gradient(
  90deg,
  rgb(6, 120, 170) 0%,
  rgb(165, 214, 255) 100%
 );
 padding: 1px;
}

.nav-bottom {
 background: linear-gradient(
  90deg,
  rgb(165, 214, 255) 0%,
  rgb(6, 120, 170) 100%
 );
 padding: 1px;
}
